.article {
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 770px;
    }

    &__header {

        &--title {
            text-align: center;
        }

        &--image {
            margin: 2em 0 1em;
        }

        &--meta {
            display: flex;
            align-items: center;
            color: $color-gray;
            @include fontSize(14px);

            &__wrapper {
                display: flex;
                align-items: center;
                flex: 1;

                &__image {
                    width: 60px;
                    height: 60px;

                    img {
                        border-radius: 50%;
                    }
                }

                &__content {
                    padding: 0 10px;

                    @media (min-width: 768px) {
                        padding: 0 15px;
                    }

                    &--name {
                        color: $color-black;
                        padding: 0 0 3px;
                    }
                }
            }

            &__icons {
                display: flex;
                > a {
                    padding: 0 5px;
                }
            }

        }

    }

    &__content {
        h3 {
            margin: 2em 0 1em;
        }
        p {
            @media (min-width: 768px) {
                font-size: 1.125rem;
            }

            margin-bottom: 1.5625rem;
            a {
                border-bottom: 1px solid $color-primary;
            }
        }
    }

    &__author {
        text-align: center;
        margin: 2rem;

        &-profile {
            padding: 20px 0;
            line-height: 1;

            &--avatar {
                position: relative;

                &:before,
                &:after {
                    border-top: 1px solid $color-gray-light;
                    content: "";
                    position: absolute;
                    vertical-align: middle;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 35%;
                }

                &:after {
                    left: auto;
                    right: 0;
                }

                img {
                    border-radius: 50%;
                }
            }
            &--name {
                @include fontSize(14px);
                color: $color-primary;
            }
        }

        &-content {
            @include fontSize(14px);
            margin-bottom: 1.5625rem;
            line-height: 1.6em;
        }

        &-tag {
            background: $color-primary;
            color: $color-white;
            display: inline;
            @include fontSize(12px);
            padding: 3px 6px;
            border-radius: 2px;;
        }
    }
}

.article-related {
    padding: 2rem 0;

    &--title {
        text-align: center;
        position: relative;
        margin: 0 auto 30px!important;
        display: table;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px 0;
        line-height: 1;
        clear: both;

        &:before,
        &:after {
            border-top: 1px solid $color-gray-light;
            content: "";
            display: table-cell;
            position: relative;
            vertical-align: middle;
            top: .7em;
            width: 50%;
        }

        &:before {
            right: 1.5%;
        }

        &:after {
            left: 1.5%;
        }
    }
}