@import './fonts';
@import './colors';
@import './mixins';

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 0;
    padding: 12px 20px;
    @include font-family('avenir-black');
    @include fontSize(16px);
    transition: all .2s ease-in;
    white-space: inherit;

    @media (min-width: 768px) {
        @include fontSize(18px);
    }
}

// Sizes rel: width

.button--fullwidth {
    width: 100%;
}

.button--md {
    min-width: 100%;
    @media (min-width: 768px) {
        min-width: 250px;
    }
}

// Height

.button--height--md {
    padding: 18px 20px;
}

// Colors

.button--primary {
    color: $color-white;
    background: $color-primary;

    &:hover {
        background: darken($color-primary, 5%);
    }
}

.button--warning {
    color: $color-white;
    background: $color-secondary;

    &:hover {
        background: darken($color-secondary, 5%);
    }
}
