.card {
  background: $color-white;
  border: 1px solid #e9ebed;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  width: 100%;
  height: 100%;

  &-blog-image {
  }

  &-blog-content {
    padding: 1rem;

    &--title {
      color: $color-primary;
      text-decoration: none;
      margin-bottom: 0;
    }
    &--content {
      color: $color-black;
    }
  }
}
.c-card {
  h2,
  h3,
  h4 {
    margin: 0;
  }
  p {
    margin-top: 0.5rem;
  }
}

.c-card-form {
  @include padding(xsmall);
  @include margin(small, xsmall);
  background: $color-white;
  border-radius: rem(10px);
  box-shadow: 0 4px 24px 0 rgba(204, 204, 204, 0.3);
  position: relative;

  &__title {
    flex: 1;
  }

  &__tooltip {
    .c-tooltip__content--default {
      @media (max-width: 320px) {
        min-width: 100%;
      }
    }
  }

  &__divider {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -16px;
      top: 0;
      width: calc(100% + 33px);
      height: calc(100% + 18px);
      background: $color-gray-xlighter;
      border-bottom-left-radius: rem(10px);
      border-bottom-right-radius: rem(10px);
    }
  }

  &__header {
    @include margin(xsmall, default);

    &--content {
      @include margin(xxsmall);
      @include font-family('avenir-heavy');
      font-size: rem(18px);
      line-height: rem(24px);
    }
  }

  &__options {
    @include padding(xxxsmall, default);
    @include margin(xsmall, default, default);
    position: relative;
    text-align: left;
    border-top: solid 1px $color-gray-light;

    &.no-border {
      border-top: 0;
    }

    &--separator {
      @include mt(xxsmall);
      text-align: center;
      position: relative;

      span {
        @include padding(default, xxsmall);
        @include font-family('avenir-book');
        color: $color-gray;
        background: $color-white;
        position: relative;
        font-size: rem(12px);
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 55%;
        transform: translateY(-50%);
        height: rem(2px);
        width: 100%;
        background: $color-gray-light;
      }
    }

    &--item {
      @include padding(xxxsmall, default);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      @include padding(xxxsmall, default);

      &__label {
        @include typesize('xxxsmall');
        flex: 1;
        color: $color-gray;
        text-align: right;
        position: relative;
        top: rem(20px);

        svg {
          @include margin(default, xxxsmall, default, default);
          vertical-align: bottom;
        }
      }

      &__sublabel {
        @include typesize('xxsmall');
        flex: 1;
        align-items: center;

        &--link {
          display: block;

          a {
            @include font-family('avenir-medium');
            @include typesize('xxxsmall');
            color: $color-primary;
            text-decoration: underline;
          }
        }

        &:first-child {
          @include margin(default, xxsmall, default, default);
        }

        .c-tooltip__content--bottom-left {
          bottom: 2.7rem;

          @media (max-width: 320px) {
            bottom: 2.4rem;
            min-width: 260px;
          }
        }

        &--amount {
          @include font-family('avenir-medium');
          font-size: rem(28px);
          text-align: right;
          line-height: 1.5rem;

          span {
            @include typesize('p');
            @include font-family('avenir-medium');

            &:first-child {
              @include font-family('avenir-medium');
              @include typesize('xxxsmall');
              @include mb(xxsmall);
              color: $color-gray;
              display: block;
              line-height: 1rem;
            }

            &:last-child {
              @include padding(default, default, default, xxsmall);
            }
          }
        }
      }
    }
  }

  &-profile {
    overflow: visible !important;
    margin-top: 25%;

    .image-thumbnail__round {
      margin-top: -25%;
      margin-bottom: rem(20px);
    }
  }

  &-active {
    background: $color-primary;
    color: $color-white;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: rem(36px);
      top: 0;
      width: rem(6.5px);
      height: 100%;
      background: #15a598;
      z-index: 2;
    }

    .c-steps {
      &__item {
        &.item_variable_width {
          h6,
          p {
            color: $color-white;
          }
        }
      }
    }
  }

  &-inactive {
    background: $color-gray-xlighter;
  }

  &-no-padding {
    padding: 0;

    li {
      border-bottom: solid 1px #f1f1f1;
    }
  }

  &-no-spacing {
    padding: 0;
    margin: 0;

    li {
      border-bottom: solid 1px #f1f1f1;
    }
  }

  &-no-lr-margin {
    @include margin(small, default);
  }

  &-no-lrb-margin {
    @include margin(small, default, default);
  }

  &-results {
    position: relative;
    @include margin(small, default);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 90%;
      box-shadow: inset 0 -1px 0 0 #e9ebed;
    }

    &-row {
      display: flex;

      &__image {
        flex: 0 0 50px;

        img {
          position: relative;
          z-index: 2;
          width: rem(42px);
          height: rem(42px);
        }
      }

      &__content {
        width: calc(100% - 50px);

        &-row {
          display: flex;
          width: 100%;
          text-align: center;

          &__item {
            flex: 0 0 50%;
            font-family: 'avenir-black';
            color: $color-black;
            @include typesize(xsmall);
            line-height: 1rem;
            padding-bottom: rem(15px);
            letter-spacing: -0.025rem;

            &--rate {
              flex: 0 0 50%;
              @include typesize(xxxsmall);
              color: $color-gray;
              letter-spacing: -0.025rem;
              line-height: 1.1;
              white-space: nowrap;

              span {
                font-family: 'avenir-medium';
              }

              sup {
                font-size: rem(6px);
              }
            }
          }
        }
      }
    }
  }

  &-results--features {
    background-color: $color-gray-xlighter;
    border-top: 1px solid $color-gray-xlight;
    margin: 0.5rem -1rem -1em -1rem;
    padding: 0.5rem;
    li {
      font-size: 0.75rem;
      color: $color-gray;
      line-height: 1.3;
      .u-inline {
        padding: 0 0.25rem 0 0;
      }
      .ico-size--xxxsmall {
        width: 0.5rem;
        height: 0.5rem;
      }
    }
  }

  &-results--alt {
    position: relative;
    @include margin(small, default);
    h3,
    h4,
    h6 {
      margin: 0;
    }

    &-row {
      display: flex;

      &__image {
        flex: 0 0 50px;

        img {
          position: relative;
          z-index: 2;
          width: rem(42px);
          height: rem(42px);
        }
      }

      &__content {
        width: calc(100% - 50px);

        &-row {
          display: flex;
          width: 100%;
          text-align: center;

          &__item--rate {
            flex: 0 0 50%;
            @include typesize(xxxsmall);
            color: $color-gray;
            letter-spacing: -0.26px;
            line-height: 1.1;

            sup {
              font-size: rem(6px);
            }
          }
        }
      }
    }
  }

  &-checkbox {
    @include margin(default, default, small);
    text-align: left;

    &--title {
      @include typesize(p);
      letter-spacing: -0.27px;
      color: $color-black;
      padding-bottom: rem(10px);
      letter-spacing: -0.27px;
    }
  }

  &-input {
    width: 100%;
    @include margin(small, default, medium);
    @include padding(small);
    position: relative;

    label {
      letter-spacing: -0.27px;
      margin-bottom: 0;
      width: auto;
    }

    .form-item-calculated {
      background: $color-primary-light;

      .form-input-text {
        border-bottom: 1px solid $color-primary;
      }
    }

    .form-item-highlighted {
      background: $color-primary-light;
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 1rem;
      &:last-child {
        margin-bottom: -1rem;
      }
      .heading-input {
        border-color: $color-primary;
      }
    }

    .form-input-text {
      box-shadow: none;
      background: transparent;
      text-align: left;
      letter-spacing: -0.3px;
      @include padding(small, default, default, default);
    }

    .form-item-range {
      .form-input-text {
        border: 0;
      }
    }

    .form-item--dollar {
      .form-input-text {
        padding-left: 0.6rem;
      }
    }
  }

  &-input-col {
    @include margin(small, small, default, default);

    &:last-child {
      @include margin(small, default, default, default);
    }
  }

  &-overlay {
    background: #f9fafa;
    border: 1px solid $color-white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    position: absolute;
    top: 35%;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    @include padding(small, small, large);
    @include margin(default);
  }

  &-range {
    position: relative;
    @include padding(default, default, small);

    .form-input-text {
      padding-top: rem(4px);
    }

    .form-item-account {
      label {
        position: absolute;
        left: rem(18px);
        top: rem(12px);
        cursor: text;
        @include typesize('xxxsmall');
        opacity: 1;
        transition: all 0.2s;
        width: auto;
      }
    }

    .form-item-range {
      position: absolute;
      width: 100%;
      bottom: rem(-13px);
    }
  }

  label.form-checkbox-label,
  label.form-radio-label {
    width: 100%;
  }

  &-equity {
    &__header {
      background: $color-black;
      border-top-left-radius: rem(4px);
      border-top-right-radius: rem(4px);
      @include padding(xsmall);

      &--item {
        color: $color-white;
        display: flex;
        align-items: center;
        @include padding(xxxsmall, default, xxsmall);

        &:last-child {
          border-top: solid 1px $color-gray-dark;
          @include padding(xsmall, default, default);
        }

        &__title {
          @include font-family('avenir-heavy');

          &:first-child {
            flex: 1;
            text-align: center;
          }

          .c-tooltip__content {
            min-width: 320px;
            left: auto;
            right: -10px;

            @media (max-width: 320px) {
              min-width: 272px;
            }

            &::after {
              right: rem(18px);
              left: auto;
            }
          }

          .c-tooltip__content--top-right {
            top: 3.2rem;

            .c-tooltip__content--tail {
              right: calc(32px - 6px);
            }
          }
        }

        &__amount {
          flex: 1;

          span {
            @include typesize('p');

            &.c-card-equity__header--item__amount--perc {
              @include typesize('xxxsmall');
              color: $color-primary;
            }
          }

          &:first-child {
            @include typesize('large');
            @include font-family('avenir-black');
          }

          svg {
            fill: $color-primary;
            &:last-child {
              @include margin(default, xxxsmall);
            }
          }

          &--perc {
            @include typesize('xxxsmall');
          }

          &.amount--down {
            color: $color-danger;

            span {
              &.c-card-equity__header--item__amount--perc {
                @include typesize('xxxsmall');
                color: $color-danger;
              }
            }

            svg {
              fill: $color-danger;
            }
          }
        }
      }
    }

    &__content {
      @include padding(small, default, xsmall);

      &--item {
        &__label {
          color: $color-gray;
          @include typesize('xxsmall');
          @include padding(default);
        }

        &__amount {
          @include font-family('avenir-medium');
          @include typesize('large');

          &--value {
            @include typesize('large');

            &__span {
              display: flex;
              align-items: flex-end;
              margin-bottom: rem(6px);
            }

            span {
              @include typesize('xxxsmall');
            }

            .c-tooltip {
              margin-left: inherit;
            }

            .c-tooltip__content--bottom-center {
              right: rem(70px);
              bottom: 2.5rem;

              @media (max-width: 768px) {
                right: 0;
                width: 100%;
                min-width: 100%;
              }
            }

            .c-tooltip__content--bottom-center {
              .c-tooltip__content--tail {
                &:after {
                  left: rem(54px);

                  @media (max-width: 320px) {
                    left: rem(55px);
                  }
                }
              }
            }
          }

          &--tag {
            @include mt(xxxsmall);
            @include typesize('xxxsmall');
            display: block;
            min-width: 50px;

            span {
              color: $color-primary;
              border: solid 1px $color-primary;
              border-radius: 90px;
              @include padding(xxxsmall, xxsmall);

              svg {
                position: relative;
                top: rem(1px);
                fill: $color-primary;
              }
            }

            &.tag--down {
              span {
                color: $color-danger;
                border: solid 1px $color-danger;
                svg {
                  fill: $color-danger;
                }
              }
            }
          }
        }

        &:first-child {
          text-align: center;
        }

        &__col {
          flex: 1;
        }

        &:last-child {
          text-align: center;
          display: flex;
          @include margin(xsmall, small, default);
          @include padding(xsmall, default, default);
          border-top: solid 1px $color-gray-light;
        }

        .button {
          height: rem(40px);
          min-width: rem(120px);
        }
      }
    }
  }
}

.c-card-row {
  display: flex;
  flex-wrap: wrap;
  @include margin(small, default, medium);

  &-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    @include margin(default, small, default, default);

    &:last-child {
      margin: 0 0;
    }
  }
}

.c-card-typeahead {
  position: absolute;
  z-index: 100;
  top: 55px;
  width: 100%;

  &:after {
    content: '';
    height: 100px;
    position: absolute;
    bottom: 0;
    background: red;
    display: block;
  }

  .c-typeahead {
    margin: 0;
  }
  .c-typeahead__item {
    @include padding(xxsmall);
    &:hover {
      background: $color-primary;
      color: #fff;
    }
  }
}

.c-card {
  .badge {
    position: absolute;
    top: -16px;
    right: -8px;
  }
}
