@import './import-once';
$font-path-local: 'https://cdn.unohomeloans.com.au/fonts' !default;

$families: (
  '3103B7_0_0': 'Avenir-Book',
  '3103B7_3_0': 'Avenir-Medium',
  '3103B7_5_0': 'Avenir-Black',
  '3103B7_9_0': 'Avenir-Heavy',
);

@each $family, $name in $families {
  @font-face {
    font-family: $name;
    src: url('#{$font-path-local}/#{$family}.eot');
    src: url('#{$font-path-local}/#{$family}.eot?#iefix')
        format('embedded-opentype'),
      url('#{$font-path-local}/#{$family}.woff2') format('woff2'),
      url('#{$font-path-local}/#{$family}.woff') format('woff'),
      url('#{$font-path-local}/#{$family}.ttf') format('truetype');
    font-display: fallback;
  }
}

$fontfamily-map: (
  'avenir-book': 'Avenir-Book',
  'avenir-medium': 'Avenir-Medium',
  'avenir-black': 'Avenir-Black',
  'avenir-heavy': 'Avenir-Heavy',
);

@mixin font-family($type) {
  @if map-has-key($fontfamily-map, $type) {
    font-family: map-get($fontfamily-map, $type), sans-serif;
  } @else {
    @warn 'This font-family is not available';
  }
}

/*
  Usage: @include font-family: ('$font-family');
*/
$base-font-size: 16px !default;

$typesize-map: (
  'xlarge': 1.75rem,
  //40px  28
    'large': 1.5rem,
  //32px  24
    'medium': 1.25rem,
  //28px  20
    'small': 1.125rem,
  //24px  18
    'xsmall': 1rem,
  //20px  16
    'xxsmall': 0.875rem,
  //16px  14
    'xxxsmall': 0.75rem,
  //12px  12
    'p': 1rem,
);

@mixin typesize($size) {
  @if map-has-key($typesize-map, $size) {
    font-size: map-get($typesize-map, $size);
  } @else {
    @warn 'This is not a size available';
  }
}

@mixin line-height($el) {
  @if $el == 'heading' {
    line-height: 1.2;
  } @else if $el == 'body' {
    line-height: 1.5;
  } @else {
    @warn 'Invalid line-height use for @mixin line-height($el). Options are 'heading' or 'body'.';
  }
}

@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@function em($px) {
  @return ($px / $base-font-size) * 1em;
}
