.footer {
    background: $color-black;
    padding: 30px 0;

    @media (min-width: 768px) {
        padding: 60px 0;
    }


    &--content {
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }

        &-item {

            &:first-child {
                order: 1;

                @media (min-width: 768px) {
                   order: inherit;
                }
            }

            &:last-child {

                .footer--content-item--list {

                    .footer--content-item--list-item {
                        &:nth-last-child(2) {
                            padding: 20px 0 0;
                        }
                    }



                }
            }

            &--social {
                margin: 10px 0;
                a {
                    img {
                        opacity: .6;
                        margin: 10px 10px 10px 0;
                    }
                }
            }

            &--privacy {
                display: flex;
                margin-top: 30px;
                justify-content: center;

                @media (min-width: 768px) {
                    @include fontSize(14px);
                    margin-top: 70px;
                    justify-content: start;
                }

                &-logo {
                    flex: 0 0 50px;
                }
                &-content {
                    color: #939fa9;
                    font-size: .625rem;
                    letter-spacing: -.21px;
                    -ms-flex: 0 0 140px;
                    flex: 0 0 140px;

                }
            }

            &--title {
                margin: 20px 0 8px;
                @include font-family('avenir-black');
                color: #939fa9;
                letter-spacing: -.3px;
                @include fontSize(20px);

                @media (min-width: 768px) {
                    @include fontSize(14px);
                }
            }

            &--list {
                list-style-type: none;
                margin: 0;

                &-item {
                    padding: 0 10px  8px;
                    margin: 0;
                    display: inline-block;

                    @media (min-width: 768px) {
                        display: block;
                        padding: 0 0 8px;
                        margin: 0;
                    }

                    a {
                        color: #D4D9DD;
                        @include fontSize(14px);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }
}

.footer-copyright {
    color: #939fa9;
    padding: 0;
    @include fontSize(10px);
    text-align: center;

    @media (min-width: 768px) {
        padding: 24px 0 0;
        @include fontSize(12px);
    }
}