.grid-default {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 15px;
    
    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 2fr);
    }
}

.grid-default-4 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 15px;
    
    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 2fr);
    }
}