.header {
    position: fixed;
    top: 0;
    z-index: 5;
    background: $color-white;
    width: 100%;
    display: flex;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 20px 15px 20px 10px;

    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: .5fr 6fr 1fr;
        padding: 22px 0;
        position: relative;
    }

    &-brand {
        padding: 0 0 0 40px;

        @media (min-width: 992px) {
            display: flex;
            text-align: left;
            align-items: center;
            padding: 0;
        }

        &--logo {
            min-width: 100px;

            a {
                display: block;

                img {
                    width: 25%;

                    @media (min-width: 768px) {
                        width: 100%;
                        max-width: 90px;
                    }
                }
            }

            &-item {
                width: 80%;
                display: inline-block;

                @media (min-width: 768px) {
                    width: 100%;
                    max-width: 90px;
                }
            }
        }

        &--headline {
            flex: 1;
            @include fontSize(10px);
            color: $color-black;
            letter-spacing: -.31px;

            @media (min-width: 992px) {
                @include fontSize(12px);
            }
        }
    }

    &.is-open {
        position: fixed;
        height: 100%;
        align-items: baseline;
        flex-direction: column;
        .header-ctas {
            display: none;
        }
    }
}
