.header-ctas {
    justify-content: center;
    display: flex;
    margin-left: auto;
    white-space: nowrap;

    @media (min-width: 992px) {
        display: flex;
        position: relative;
    }

    &--item {
        margin: 0;

        @media (min-width: 768px) {
            margin: 0 2px;
        }

        a {
            @include fontSize(14px);
        }
    }
}