@import './mixins';
@import './colors.scss';

.nav-trigger-wrapper {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 4;

    @media (min-width: 992px) {
        display: none;
    }
}

.nav-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    outline: 0;
    padding: 0;
    border: 0;
    background: none;

    span,
    span::after,
    span::before {
        background: #337772;
        margin: auto;
        width: 100%;
        height: .2rem;
        content: "";
        top: 50%;
        left: 0;
        border-radius: 4px;
        position: absolute;
    }

    span {
        &::before {
            top: -1rem
        }
        &::after {
            top: -.5rem
        }
    }


    @media (min-width: 992px) {
        display: none;
    }
}

.nav-header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .625rem 1rem;

    &--item {
        flex: 1;

        &:last-child {
            cursor: pointer;
        }
        img {
            width: 5.625rem;
        }

        &-close {
            position: relative;
            width: 26px;
            height: 2px;
            transform: rotate(45deg);
            margin-top: 10px;

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 26px;
                height: 2px;
                background: #337772;
                margin-top: 0;
            }

            &:before {
                transform: rotate(-90deg);
            }
        }
    }


    @media (min-width: 992px) {
        display: none;
    }
}

.main-nav {
    display: none;

    &.is-open {
        display: block;
        background: #fff;
        position: absolute;
        min-height: 100%;
        top: 80px;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
    }

    &__ctas {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px 18px;
        background: #fff;;
        &--item {
            text-align: center;
            width: 45%;

            &:last-child {
                width: 10%;
            }

            .nav-header--item {
                text-align: right;
            }
        }

        @media (min-width: 992px) {
            display: none;
        }
    }
}

.menu {
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    background: #fff;;
    padding: 0 16px;

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
        width: auto;
        padding: 0;
    }

    &-item {
        margin: 0;
        position: relative;
        cursor: pointer;

        @media (min-width: 992px) {
            margin: 0 2px;
        }

        a {
            @include fontSize(15px);
            @include font-family('avenir-medium');
            padding: 1rem .5rem;
            color: $color-black;
            text-decoration: none;
            display: block;
            border-top: 1px solid #E9EBED;
            transition: all .2s ease;
            position: relative;

            @media (min-width: 992px) {
                display: inherit;
                padding: .7rem .8rem .7rem;
                border-top: 0;
            }

            &:hover {
                text-decoration: none;
                color: #337772;

                @media (min-width: 992px) {
                    background: #E7F7F5;
                    border-radius: 5px;
                    color: #337772;
                }
            }
        }

        &:nth-of-type(1),
        &.loanScore {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                right: auto;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 1rem;
                width: 1rem;
                background-image: url('../../images/ico-loanscore.png');
                background-repeat: no-repeat;
                background-size: 1rem;

                @media (min-width: 992px) {
                    left: inherit;
                    right: .4rem;
                }
            }

            a {
                padding: 1.2rem 2rem 1rem .5rem;

                @media (min-width: 992px) {
                    padding: .7rem 1.7rem .7rem .9rem
                }

                .menu-item--has-item--icon {
                    visibility: hidden;
                }
            }
        }

        ul.menu-item--sub-item {

            li {

                a {
                    padding: 8px;
                    @include font-family('avenir-book');
                }
            }
        }

        &--sub-item {
            // display: none;
            padding: 0 0 15px;
            // opacity: 0;
            transition: all .2s ease;

            @media (min-width: 768) {
                padding: 15px 0;
                display: none;
                opacity: 0;
            }
        }

        ul {
            position: relative;
            top: 0rem;
            text-align: left;
            z-index: 2;
            box-shadow: none;
            // display: none;
            list-style-type: none;
            margin: 0 0 20px;

            @media (max-width: 768px) {
                margin: 0;
            }

            &:before {
                content: none;
                position: absolute;
                top: -6px;
                left: 50%;
                width: 10px;
                height: 10px;
                background: #FFFFFF;
                border-right:1px solid #F3F3F3;
                border-bottom:1px solid #F3F3F3;
                transform: rotate(-134deg);

                @media (min-width: 992px) {
                    content: "";
                }
            }

            &:after {
                content: none;
                position: absolute;
                top: -10px;
                left: 0;
                background: transparent;
                height: 10px;
                width: 100%;

                @media (min-width: 992px) {
                    content: "";
                }
            }

            @media (min-width: 992px) {
                top: 3.08rem;
                position: absolute;
                margin: 0;
                left: 50%;
                transform: translateX(-50%);
                padding: 8px 10px;
                background: #fff;
                border: 1px solid #F3F3F3;
                box-shadow: 0 0 20px 4px rgba(0,0,0,0.03), 0 40px 40px 0 rgba(40,64,83,0.03), 0 16px 16px 0 rgba(40,64,83,0.03), 0 8px 8px 0 rgba(40,64,83,0.03);
                border-radius: 8px;
            }

            li {
                padding: 0;

                @media (min-width: 992px) {
                    margin-bottom: 0;
                }

                &:first-child {
                   a {
                    border-top: 0;
                   }
                }

                a {
                    display: block;
                    white-space: nowrap;
                    padding: .1rem 1rem;
                    border-top: 0;

                    @media (min-width: 992px) {
                        padding: .7rem .5rem;
                        border: 0;

                    }

                    &:hover {
                        background: transparent;
                        text-decoration: none;
                        color: $color-primary;
                    }

                }
            }
        }

    &.menu-item--has-item {

        .menu-item--sub-item {
            display: none;
            opacity: 0;

            @media(max-width: 768px) {
                display: block;
                opacity: 1;
            }
        }

        a {
            padding: .7rem .4rem .7rem .6rem;
        }

       .menu-item--has-item--icon {
            padding: 0 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transform-origin: center;
            transition: all .2s ease;
            right: 0;


            @media (min-width: 992px) {
                position: relative;
                top: -2px;
            }
        }

        &.is-expanded {

            .menu-item--has-item--icon {
                transform: translateY(-50%) rotate(-180deg);

                @media (min-width: 992px) {
                    transform: translateY(-50%);
                }
            }

            .menu-item--sub-item {
                @media (max-width: 992px) {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }

    &:hover {
        ul.menu-item--sub-item {
            display: block;
            opacity: 1;

            @media(max-width: 768px) {
                display: block;
                opacity: 1;
            }

             li {
                 a {
                    padding: 8px;
                    @include font-family('avenir-book');
                 }
             }
        }
    }

    }
}